.background-purple {
	background-color: #8e44ad;
}

.background-orange {
    background-color: #FF7416;
}

.white-color {
    color: white;
}

.orange-color {
	color: #FF7416;
}

.success {
	border-radius: 4px;
	box-shadow: 0 0 5px 2px #2ecc71;
}

.danger {
	border-radius: 4px;
	box-shadow: 0 0 5px 2px rgba(255, 24, 0, 0.63);
}

#bids {
    margin-top: 4%;
    margin-bottom: 4%;
}

.mt {
    margin-top: 4%;
}

.mb {
    margin-bottom: 4%;
}

#date input {
    text-align: center;
}
